<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let a of items | async" >
          
          <div *ngIf="a.tipo === 'receita'">
    
            <p style="color: green"> R${{a.valor}}<strong style="color: black"> {{a.desc}} </strong> <ion-text style="color: black"> Dia: {{a.data| date:'longDate'}} </ion-text> </p>
          </div> 
          <div *ngIf="a.tipo === 'gasto'">
            <p style="color:red "> R${{a.valor}}<strong style="color: black"> {{a.desc}} </strong> <ion-text style="color: black"> Dia: {{a.data| date:'longDate'}} </ion-text> </p> 
          </div>

         <!-- <ion-button (click)="remove(i)" > Apagar </ion-button> -->
        </ion-item>
      </ion-list>
      <div *ngIf="somaValores<0;else receitaTemplate">
          Total: R$<ion-text style="color: green"> {{ -somaValores}} </ion-text>
      </div>
      
      <ng-template #receitaTemplate>
          Total: R$  <ion-text style="color: red">{{ somaValores}} </ion-text></ng-template>
      
</ion-content>
